# Python
__pycache__/
*.py[cod]
*.pyc
*.egg-info/
.env
*.local

# Node
node_modules/
dist/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Media uploads (dev)
media/

# Docker volumes
mysql_data/
redis_data/
